<header class="text-2xl font-bold underline">
  <app-nav
  *ngIf="todosStore.hasTodos()"
  [hasCompletedTodos]="todosStore.hasCompletedTodos()"
  [incompleteTodosCount]="todosStore.incompleteTodosCount()"
  [currentFilter]="todosStore.filterParam()"
  (clearCompleted)="todosStore.clearComplete()"
/>
  <app-new (addTodo)="todosStore.add($event)" />
</header>
<app-list
  *ngIf="todosStore.hasTodos()"
  [todos]="todosStore.filteredTodos()"
  (toggle)="todosStore.toggle($event)"
  (update)="todosStore.update($event.id, $event.text)"
  (delete)="todosStore.delete($event)"
/>
